*{
    margin: 0;
}
.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.center{
    width: 70%;
    height: 70%;
}
.items{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.items img{
    height: 100%;
    width: 33%;
}